html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}
::selection {
  background-color: #ffd230;
}

.endend {
  height: 100vh;
  width: 100%;
  background-color: #8ec5ff;
}
.navmain label img {
  height: 40px;
  background-color: #973b3b;
}

.side-navbar {
  width: 250px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 1px;
  right: 0%;
  padding: 12px 24px;
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 40px;
  box-sizing: border-box;
  z-index: 600;
  right: -250px;
  transition: 1s ease-out;
}




#sidebar-active:checked ~ .side-navbar {
right: 0px;
}

#sidebar-active:checked ~ #overlay {
 background-color: rgba(0, 0, 0, .7);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 499;
  backdrop-filter: blur(3px);
  transition: 1s ease;
}

#sidebar-active {
  display: none;
}

.side-navbar a {
  text-decoration: none;
  color: #000;
  margin: 0;
}
.sidemenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  padding: 10px 0 10px 0;
}
.sidemenu p {
  font-family: EXO, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}
.sidemenu .menuexite {
  width: 35px;
  height: 35px;
  border: #000 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
  cursor: pointer;
  transition: 1s;
}
.menuexite label{
  cursor: pointer;
}

.menuexite:hover{
  background-color: #FFE2E2;
  color: #FF7A50;
}
.side-navbar ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-left: 0;
  text-align: left;
}
.side-navbar li {
  font-family: EXO, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.side-navbar .links li:hover {
  transform: translate(0px, -5px);
  transition: 1s;
}
.side-navbar .links a:hover {
  color: #ff845e;
  transition: 1s;
}

.sbscb {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.sbscb a {
  width: 100%;
  height: 100%;
}
.sbscb img {
  width: 40px;
}
.subscribe2 {
  background-color: #fed05b;
  padding: 8px 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border: 2px black solid;
  box-shadow: black 3px 3px;
  text-align: center;
  box-sizing: border-box;
}

.subscribe2 span {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.subscribe2:hover {
  transform: translate(3px, 3px);
}
.navbar {
  width: 90%;
  height: 60px;
  background-color: white;
  border: black solid 2px;
  border-radius: 12px;
  position: fixed;
  top: 15px;
  right: 5%;
  padding: 12px 24px;
  height: 65px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 500;
}
.navbar .title {
  font-family: "Exo", sans-serif;
  font-weight: 800;
  font-size: 30px;
  font-weight: 36px;
  margin: 0;
  padding: 0;
}
.navbar .title span {
  color: #ff6900;
}
.navbar img,
.side-navbar img {
  width: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.navbar ul a:hover {
  color: #ff6900;
  transition-duration: 0.5s;
}
.menu {
  width: 42px;
  height: 42px;
  border: #000 2px solid;
  border-radius: 3px;
  box-shadow: #000 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform .5s;
}
.menu:hover{
  transform: translate(0px , 2px);
}

.menu span {
  background-color: #000;
  width: 30px;
  height: 3px;
  position: relative;
}
.menu span::before {
  content: "";
  background-color: #000;
  width: 30px;
  height: 3px;
  position: absolute;
  bottom: 5px;
  left: 0px;
}
.menu span::after {
  content: "";
  background-color: #000;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 5px;
  left: 0px;
}

.subscribe {
  background-color: #fed05b;
  border-radius: 20px;
  padding: 8px 0;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  transition: all 0.5s;
  text-align: center;
}
.subscribe:hover {
  background-color: #fed05b;
  border-radius: 20px;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  border: 2px black solid;
  transform: translate(2px, 2px);
}

.subscribe span {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
/*  END NAVBAR */

/* START HERO */
#main_hero {
  border: #000 solid 2px;
  margin: 0;
}
.hero {
  height: 100vh;
  background-color: rgb(255, 240, 133);
  display: flex;
  align-items: end;
  justify-content: center;
}

.stickpaper1 {
  height: 128px;
  width: 128px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 5%;
  left: 2%;
  order: -1;
  transform: rotate(10deg);
}
.stickpaper2 {
  height: 96px;
  width: 96px;
  background-color: #fedb7c;
  position: absolute;
  top: 22%;
  left: 87%;
  transform: rotate(40deg);
}

.hc {
  width: 85%;
  height: 630px;
  display: flex;
  justify-content: space-between;
}

.hcleft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-around;
}
.hero .tn {
  margin: 0;
  height: 44px;
  width: 155px;
  background-color: #000;
  font-family: EXO, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-5deg);
  margin: 0;
  box-shadow: 3px 3px black;
}
.btbi {
  margin: 0;
  font-family: EXO, sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 90px;
  text-shadow: #000 3px 3px;
}
.btbi h2 {
  margin: 0;
}
.btbi2 {
  color: oklch(0.577 0.245 27.325);
}
.btbi3 {
  color: oklch(0.546 0.245 262.881);
}

.dscr {
  background-color: white;
  font-family: EXO, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding: 16px;
  border: #000 2px solid;
}
.dscr p {
  margin: 0;
  text-align: left;
}

.hrobtns {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.hrobtns img{
  width: 30px;
  height: 30px;
}
.hrobtns a {
  height: 60px;
  width: 50%;
  text-decoration: none;
  font-family: EXO, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 5px 5px black;
  box-sizing: border-box;
  transition: all 0.5s;
}
.hrobtns a:hover {
  transform: translate(3px, 3px);
  box-shadow: none;
  transition: 1s;
}
.hcleft .btn1 {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hcleft .btn2 {
  color: black;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000 3px solid;
    gap: 10px;

}

.hcright {
  display: flex;
  align-items: center;
  position: relative;
}

.hcright img {
  width: 530px;
  height: 376px;
  z-index: 3;
  border: black 2px solid;
  box-shadow: 10px 10px;
  transition: 0.6s;
  transform: rotate(3deg);
}
.hcright img:hover {
  transform: translate(-5px, -5px) rotate(3deg);
  box-shadow: 15px 15px;
}

.ftr {
  height: 40px;
  width: 100px;
  position: absolute;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  border: black 2px solid;
  transform: rotate(10deg);
  top: 120px;
  right: 0px;
  z-index: 50;
}

/* End Hero   */
/* Start ARTICLES */
#ARTICLES-main {
  width: 100%;
  height: 1500px;
  background-color: #f5f5f5;
  margin-top: 0;
}
#ARTICLES-main {
  border: #000 2px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ARTICLES-main h2 {
  margin: 0;
}
.artcls-container {
  width: 85%;
  height: 1300px;
  display: flex;
  justify-content: space-between;
}
.lftartcntnr {
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.lftartcntnr .artcl-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lftartcntnr .artcl-header h2 {
  font-family: EXO, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
.lftartcntnr .artcl-header .fc {
  height: 44px;
  width: 155px;
  background-color: #000;
  font-family: EXO, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(3deg);
  margin: 0;
  box-shadow: 3px 3px black;
}

.article {
  width: 100%;
  height: 320px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: #000 4px solid;
  box-sizing: border-box;
  box-shadow: #000 5px 5px;
  transition: all 1s;
}
.lftartcntnr .article:hover {
  transform: translate(-5px, -5px);

  box-shadow: #000 10px 10px;
}
.lftartcntnr .article .h33,
.h32,
.h31 {
  transition: color 1s;
}
.lftartcntnr .article:hover .h31 {
  color: oklch(0.577 0.245 27.325);
}
.lftartcntnr .article:hover .h32 {
  color: oklch(0.546 0.245 262.881);
}
.lftartcntnr .article:hover .h33 {
  color: oklch(0.558 0.288 302.321);
}

.articlecontainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}
.artclleft {
  position: relative;
  
  
}
.artclleft img {
  height: 130px;
  width: 164px;
  border: #000 2px solid;
}

.article .new {
  height: 20px;
  width: 45px;
  background-color: #ff0000;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(8deg);
  margin: 0;
  border: #000 2px solid;
  position: absolute;
  top: -5px;
  right: -5px;
}

.article .HOT {
  height: 20px;
  width: 45px;
  background-color: #2b7fff;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-8deg);
  margin: 0;
  border: #000 2px solid;
  position: absolute;
  top: -5px;
  right: -5px;
}

.article .VIRAL {
  height: 20px;
  width: 45px;
  background-color: #ad46ff;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  margin: 0;
  border: #000 2px solid;
  position: absolute;
  top: -5px;
  right: -5px;
}
.artrighttop{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  height: 90%;
}
.artrighttop .tech {
  height: 25px;
  width: 55px;
  background-color: #ffdf20;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-2deg);
  margin: 0;
  border: #000 2px solid;
  box-shadow: #000 3px 3px;
}
.artrighttop .DESIGN {
  height: 25px;
  width: 55px;
  background-color: #7bf1a8;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(2deg);
  margin: 0;
  border: #000 2px solid;
  box-shadow: #000 3px 3px;
}
.artrighttop .CULTURE {
  height: 25px;
  width: 60px;
  background-color: #fda5d5;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-2deg);
  margin: 0;
  border: #000 2px solid;
  box-shadow: #000 3px 3px;
}

.artclright {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width:100%;
  
}
.artclright h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: EXO, sans-serif;
  line-height: 32px;
  margin: 0;
}
.artclright p {
  font-size: 18px;
  font-weight: 400;
  font-family: EXO, sans-serif;
  line-height: 29px;
  text-align: left;
  margin: 0;
}
.artrightfoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.artrightfoot div {
  display: flex;
  align-items: center;
}

.artrightfoot span {
  font-size: 14px;
  font-weight: 600;
  font-family: EXO, sans-serif;
  line-height: 20px;
  margin-left: 5px;
  margin-top: 4px;
}

.artrightfoot img {
  width: 15px;
  height: 15px;
}

.rtclfter {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rtclfter a {
  height: 60px;
  width: 40%;
  text-decoration: none;
  font-family: EXO, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 5px 5px black;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  transition: all 0.5s;
}

.rtclfter a:hover {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.rttartcntnr {
  width: 32%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.rttartcntnr .stk {
  width: 100%;
  height: 730px;
  position: sticky;
  top: 80px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.info {
  height: 300px;
  width: 100%;
  border: #000 4px solid;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: #000 7px 7px;
}
.stk h3 {
  font-family: EXO, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  margin: 0;
}

.ttl1 {
  display: flex;
  gap: 15px;
  width: 100%;
  height: 70px;
  align-items: center;
}
.ttl1:hover .tdof .dsa {
  color: oklch(0.577 0.245 27.325);
  transition-duration: 0.5s;
}
.ttl1:hover .tdof .asd {
  color: oklch(0.546 0.245 262.881);
  transition-duration: 0.5s;
}
.ttl1:hover .tdof .sda {
  color: oklch(0.558 0.288 302.321);
  transition-duration: 0.5s;
}
.ttl1 a {
  text-decoration: none;
}
.ttl1 .right1 a {
  font-family: EXO, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: oklch(0.637 0.237 25.331);
}
.ttl1 .right2 a {
  font-family: EXO, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: oklch(0.623 0.214 259.815);
}
.ttl1 .right3 a {
  font-family: EXO, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: oklch(0.627 0.265 303.9);
}

.ttl1 .left .tdof a {
  font-family: EXO, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #000;
}
.ttl1 .left .rt a {
  font-family: EXO, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: oklch(0.439 0 0);
}

.ttl1 .left {
  display: flex;
  flex-flow: column;
}
.CATEGORIES {
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
  border: #000 4px solid;
  box-shadow: #000 7px 7px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.CATEGORIES .cte {
  width: 97%;
  height: 50px;
  background-color: #f9f4be;
  border: #000 2px solid;
  display: flex;
  align-items: center;
  padding-left: 25px;
  box-sizing: border-box;
  transition: all 1s;
}
.CATEGORIES .cte:hover {
  background-color: #ffdf20;
  box-shadow: #000 5px 5px;
  position: relative;
  bottom: 2px;
  right: 2px;
  transform: translate(-5px, -5px);
}
.CATEGORIES .cte a {
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
.CATEGORIES .cde {
  width: 97%;
  height: 50px;
  background-color: #dbfce7;
  border: #000 2px solid;
  display: flex;
  align-items: center;
  padding-left: 25px;
  box-sizing: border-box;
  transition: all 1s;
}
.CATEGORIES .cde:hover {
  background-color: #7bf1a8;
  box-shadow: #000 5px 5px;
  position: relative;
  bottom: 2px;
  right: 2px;
  transform: translate(-5px, -5px);
}
.CATEGORIES .cde a {
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
.CATEGORIES .ccu {
  width: 97%;
  height: 50px;
  background-color: #fce7f3;
  border: #000 2px solid;
  display: flex;
  align-items: center;
  padding-left: 25px;
  box-sizing: border-box;
  transition: all 1s;
}
.CATEGORIES .ccu:hover {
  background-color: #fda5d5;
  box-shadow: #000 5px 5px;
  position: relative;
  bottom: 2px;
  right: 2px;
  transform: translate(-5px, -5px);
}
.CATEGORIES .ccu a {
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
.CATEGORIES .cop {
  width: 97%;
  height: 50px;
  background-color: #dbeafe;
  border: #000 2px solid;
  display: flex;
  align-items: center;
  padding-left: 25px;
  box-sizing: border-box;
  transition: all 1s;
}
.CATEGORIES .cop:hover {
  background-color: #8ec5ff;
  box-shadow: #000 5px 5px;
  transform: translate(-5px, -5px);
}
.CATEGORIES .cop a {
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
.CATEGORIES .ctu {
  width: 97%;
  height: 50px;
  background-color: #f3e8ff;
  border: #000 2px solid;
  display: flex;
  align-items: center;
  padding-left: 25px;
  box-sizing: border-box;
  transition: all 1s;
}
.CATEGORIES .ctu:hover {
  background-color: #dab2ff;
  box-shadow: #000 5px 5px;
  position: relative;
  bottom: 2px;
  right: 2px;
  transform: translate(-5px, -5px);
}
.CATEGORIES .ctu a {
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
/* End ARTICLES */
/* Start Authors */
#authors {
  width: 100%;
  height: 100vh;
  border: #000 2px solid;
  background-color: #ffd230;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.autmaincontainer {
  width: 85%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.autmaincontainer .tpcntnr h2 {
  text-align: center;
  font-family: EXO, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.autmaincontainer .tpcntnr .jd {
  text-align: center;
  font-family: EXO, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: oklch(0.439 0 0);
  position: relative;
}
.autmaincontainer .tpcntnr .jd::after {
  content: "";
  height: 8px;
  width: 130px;
  background-color: #000;
  position: absolute;
  top: 45px;
  left: 170px;
}
.autherscontainer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aut1 {
  width: 340px;
  height: 450px;
  background-color: #fef9c2;
  box-shadow: #000 7px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  border: #000 4px solid;
  transition: transform 0.3s;
}
.aut1 .ttl {
  height: 25px;
  width: 70px;
  background-color: #fb2c36;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(7deg);
  margin: 0;
  border: #000 2px solid;
  position: relative;
  bottom: 130px;
  left: 140px;
}
.aut2 .ttl {
  height: 25px;
  width: 50px;
  background-color: #2b7fff;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-7deg);
  margin: 0;
  border: #000 2px solid;
  position: relative;
  bottom: 130px;
  left: 140px;
}
.aut3 .ttl {
  height: 25px;
  width: 50px;
  background-color: #ad46ff;
  font-family: EXO, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(40deg);
  margin: 0;
  border: #000 2px solid;
  position: relative;
  bottom: 130px;
  left: 140px;
}

.aut2 {
  width: 340px;
  height: 450px;
  background-color: #dbfce7;
  box-shadow: #000 7px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  border: #000 4px solid;
  transition: transform 0.3s;
}
.aut3 {
  width: 340px;
  height: 450px;
  background-color: #fce7f3;
  box-shadow: #000 7px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  border: #000 4px solid;
  transition: transform 0.3s;
}
.aut1:hover {
  transform: translate(-2px, -2px);
}
.aut1:hover h3 {
  color: #e7000b;
  transition: 0.3s;
}
.aut2:hover {
  transform: translate(-2px, -2px);
}
.aut2:hover h3 {
  color: #155dfc;
  transition: 0.3s;
}
.aut3:hover {
  transform: translate(-2px, -2px);
}
.aut3:hover h3 {
  color: #9810fa;
  transition: 0.3s;
}
.autherscontainer h3,
span,
p {
  text-align: center;
  margin: 0;
}
.autherscontainer h3 {
  font-family: EXO, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}
.autherscontainer span {
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: oklch(0.439 0 0);
}
.autherscontainer p {
  font-family: EXO, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.autherscontainer img {
  width: 120px;
  height: 120px;
  border: #000 4px solid;
  box-sizing: border-box;
}
.tli {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tli div {
  background-color: #000;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.tli img {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

#authors .stickpaper4 {
  height: 148px;
  width: 148px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 5%;
  right: 2%;
  order: -1;
  transform: rotate(30deg);
  z-index: 55;
}

.tli .twt:hover {
  transform: translate(-2px, -2px);
  background-color: #1da1f2;
  box-shadow: 2px 2px;
}
.tli .lnin:hover {
  transform: translate(-2px, -2px);
  background-color: #155dfc;
  box-shadow: 2px 2px;
}
.tli .ins:hover {
  transform: translate(-2px, -2px);
  background-color: #e60076;
  box-shadow: 2px 2px;
}
/* End Authors */
/* Start JOIN THE REBELLION */
#jtr {
  width: 100%;
  height: 1100px;
  background-color: #f5f5f5;
  border: #000 2px solid;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.jtrhead {
  height: 230px;
}
.jtrhead .tpcntnr h2 {
  text-align: center;
  font-family: EXO, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.jtrhead .tpcntnr .jd {
  text-align: center;
  font-family: EXO, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: oklch(0.439 0 0);
  position: relative;
}
.jtrhead .tpcntnr .jd::after {
  content: "";
  height: 8px;
  width: 130px;
  background-color: #000;
  position: absolute;
  top: 45px;
  left: 170px;
}
.jtrbody {
  width: 100%;
  display: flex;
  justify-content: center;
}

.jtrright {
  width: 42.5%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.jtrright h3 {
  font-family: EXO, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  margin: 0;
}
.jtrright .par {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: #000 2px solid;
  box-shadow: #000 3px 3px;
}
.jtrright .par p {
  font-family: EXO, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
}

.benefit {
  display: flex;
  align-items: center;
  gap: 15px;
}

.benefit .benimg1 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb2c36;
  border: #000 2px solid;
}
.benefit .benimg2 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b7fff;
  border: #000 2px solid;
}
.benefit .benimg3 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ad46ff;
  border: #000 2px solid;
}
.benefit .benimg4 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00c950;
  border: #000 2px solid;
}

.benefit img {
  width: 25px;
  height: 25px;
}
.benefit p {
  font-family: EXO, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.jtrbtn {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jtrbtn button {
  background-color: #000;
  height: 70px;
  width: 350px;
  box-shadow: #000 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.jtrbtn button:hover {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.jtrbtn button img {
  width: 30px;
  height: 30px;
}
.jtrbtn button span {
  font-family: EXO, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.jtrleft {
  width: 42.5%;
  height: 750px;
  display: flex;
  justify-content: end;
}

.jtrleft .jtrleftcontainer {
  height: 100%;
  width: 90%;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: #000 5px 5px;
  border: #000 4px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.jtrleft .jtrleftcontainer h3 {
  font-family: EXO, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  margin: 0;
}
#cards {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  border: #000 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cards p {
  font-family: EXO, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}
#cards h5 {
  font-family: EXO, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
#cards span {
  font-family: EXO, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: oklch(0.439 0 0);
}
.card1 {
  background-color: #fef2f2;
}
.card2 {
  background-color: #eff6ff;
}
.card3 {
  background-color: #faf5ff;
}
.cardbottom {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cardimg img {
  width: 44px;
  height: 44px;
  border: #000 2px solid;
}
.cardinfo h5,
span {
  margin: 0;
}

/* End JOIN THE REBELLION  */
/* Start Footer */
#footer {
  width: 100%;
  height: 600px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#footer h6,
#footer span,
#footer p,
#footer a {
  color: white;
  text-align: left;
  text-decoration: none;
  transition: 0.5s;
}
.upperfooter {
  height: 60%;
  width: 85%;
  display: flex;
  box-sizing: border-box;
  border-bottom: white 3px solid;
}

.ufleft {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  padding-right: 40px;
}

.ulefthead {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ulefthead h6 {
  font-size: 30px;
  font-family: EXO, sans-serif;
  font-weight: 900;
  line-height: 36px;
  margin: 0;
}
.ufleft p {
  font-size: 18px;
  font-family: EXO, sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
}

.ufleftimg {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.ufleftimg img {
  width: 60px;
  height: 60px;
}

.upperfooter .ufmdl {
  width: 20%;
  display: flex;
}

.ufmdl {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ufmdl h6 {
  font-size: 24px;
  font-family: EXO, sans-serif;
  font-weight: 900;
  line-height: 32px;
  margin: 0;
}

.ufmdl ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-left: 0;
  text-align: left;
}
.ufmdl li {
  font-size: 16px;
  font-family: EXO, sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.ufright {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}
.ufright h6 {
  font-size: 24px;
  font-family: EXO, sans-serif;
  font-weight: 900;
  line-height: 32px;
  margin: 0;
}
.ufright p {
  font-size: 18px;
  font-family: EXO, sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
}

.upperfooter .ufright form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ufright form input {
  width: 100%;
  height: 50px;
  background-color: #000;
  border: white 2px solid;
  box-sizing: border-box;
}
.ufright form button {
  width: 95%;
  height: 50px;
  font-size: 18px;
  font-family: EXO, sans-serif;
  font-weight: 700;
  line-height: 28px;
  color: #000;
  background-color: #ffdf20;
  box-shadow: #ccb219 3px 3px;
  border: none;
  box-sizing: border-box;
  transition: 1s;
  cursor: pointer;
}
.ufright input::placeholder {
  font-size: 18px;
  font-family: EXO, sans-serif;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.bottomfoter {
  width: 85%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomfoter p {
  font-size: 18px;
  font-family: EXO, sans-serif;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}
.bottomfoter a {
  font-size: 16px;
  font-family: EXO, sans-serif;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}
.bottomfoter ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

#footer a:hover {
  color: #ffdf1c;
}
.ufright button:hover {
  transform: translate(5px, 5px);
  box-shadow: none;
}
